<!DOCTYPE html>
<html>
  <style>
    * {
      font-family: sans-serif;
    }

    .event-wrapper {
      padding: 15px;
    }

    .event {
      padding: 15px;
    }
  </style>

  <body>
    <div class="event-wrapper">
      <button id="event-button" onclick="onPress()">
        Test server-sent events
      </button>
      <ul class="events"></ul>
    </div>

    <script>
      const onPress = (e) => {
        let ul = document.querySelector(".events");
        ul.innerHTML = "";
        sse(); // triggering the server-sent events
      };

      const sse = () => {
        let estream = new EventSource("/stream?foo=bar");
        estream.onopen = (e) => console.log(e);

        estream.onmessage = (e) => {
          let ul = document.querySelector(".events");
          let li = document.createElement("li");
          let now = new Date();

          let msg = `${now.toISOString()}: ${e.data}`;

          li.appendChild(document.createTextNode(msg));
          ul.appendChild(li);
        };

        estream.onerror = (e) => {
          console.error(e);
          console.error("CLOSING SERVER EVENT STREAM");
          estream.close();
        };
      };
    </script>
  </body>
</html>
